{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material Icons -->
   
    <!-- CSS File -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Youtube Clone with HTML & CSS</title>
  </head>
  <body>
    
       
       
      <header class="header">
            <div class="logo left">
               <img src="{% static 'images/hamburger.png' %}">
               <img src="{% static 'images/yt-logo.png' %}">
             </div>
             
             <div class="search center">
               <form action="">
                 <input type="text" placeholder="Search" />
                 <button><img src="{% static 'images/search.png' %}"></button>
               </form>
               <i class="material-icons mic">mic</i>
             </div>
             
             <div class="icons right">
               <i class="material-icons">videocam</i>
               <i class="material-icons">apps</i>
               <i class="material-icons">notifications</i>
               <i class="material-icons display-this">account_circle</i>
             </div>
            </header>
      <main>
          <div class="side-bar">
     <!-- <div class=”side-bar”> -->
             <div class="nav">
              <a class="nav-link active">
                 <img src="{% static 'images/home.png' %}">
                 <span>Home</span>
              </a>
              <a class="nav-link">
                 <i class="material-icons">local_fire_department</i>
                 <span>Trending</span>
              </a>
              <a class="nav-link">
                 <img src="{% static 'images/subscription.png' %}">
                 <span>Subscriptions</span>
              </a>
            </div>
            <hr>
            <a class="nav-link">
                <i class="material-icons">library_add_check</i>
                <span>Library</span>
             </a>
             <a class="nav-link">
                <img src="{% static 'images/history.png' %}">
                <span>History</span>
             </a>
             <a class="nav-link">
                <img src="{% static 'images/your-video.png' %}">
                <span>Your Videos</span>
             </a>
             <a class="nav-link">
                <img src="{% static 'images/watch-later.png' %}">
                <span>Watch Later</span>
             </a>
             <a class="nav-link">
                <img src="{% static 'images/liked video.png' %}">
                <span>Liked Videos</span>
             </a>
            </div>
            <!-- </div> -->
          </div>
          <div class="content">
            <div class="videos">
                <!-- a video starts -->
                  <div class="video">
                     <div class="thumbnail">
                        <img src="https://img.youtube.com/vi/d2na6sCyM5Q/maxresdefault.jpg" alt="" />
                      </div>
              
                        <div class="details">
                           <div class="author">
                              <img src="https://yt3.ggpht.com/ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                              </div>
                           <div class="title">
                              <h3>DON'T EVER GIVE UP - Elon Musk (Motivational Video)</h3>
                              <a href=""> Chispa Motivation</a>
                              <span>10M Views • 1 Month Ago</span>
                           </div>
                         </div>
              
                       </div>
                 <!-- a video Ends -->
                 <!-- a video starts -->
                 <div class="video">
                    <div class="thumbnail">
                       <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" />
                     </div>
             
                       <div class="details">
                          <div class="author">
                             <img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" />
                          </div>
                          <div class="title">
                           <h3>
                              Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn
                            </h3>
                            <a href="">FutureCoders</a>
                            <span>10M Views • 3 Months Ago</span>
                          </div>
                        </div>
             
                      </div>
                <!-- a video Ends -->
                
               
              <!-- a video starts -->
              <div class="video">
                <div class="thumbnail">
                   <img src="https://img.youtube.com/vi/YpTmcCBBdTE/maxresdefault.jpg" alt="" />
                 </div>
         
                   <div class="details">
                      <div class="author">
                         <img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" />
                      </div>
                      <div class="title">
                        <h3>Build A Password Generator with React JS - Beginners Tutorial</h3>
                        <a href="">FutureCoders</a>
                        <span>10M Views • 3 Months Ago</span>
                      </div>
                    </div>
         
                  </div>
            <!-- a video Ends -->
             <!-- a video starts -->
             <div class="video">
               <div class="thumbnail">
                  <img src="https://img.youtube.com/vi/46cXFUzR9XM/maxresdefault.jpg" alt="" />
                </div>
        
                  <div class="details">
                     <div class="author">
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=s48-c-k-c0x00ffffff-no-rj" alt="" />
                     </div>
                     <div class="title">
                        <h3>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</h3>
                         <a href="">Netflix</a>
                            <span>10M Views • 11 Months Ago</span>
                     </div>
                   </div>
        
                 </div>
           <!-- a video Ends -->
             
             <!-- a video starts -->
             <div class="video">
                <div class="thumbnail">
                   <img src="https://img.youtube.com/vi/2Ji-clqUYnA/maxresdefault.jpg" alt="" />
                 </div>
         
                   <div class="details">
                      <div class="author">
                         <img src="https://yt3.ggpht.com/ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=s48-c-k-c0x00ffffff-no-rj" alt="" />
                      </div>
                      <div class="title">
                        <h3>Javascript Fundamentals</h3>
                <a href="">Coding Addict</a>
                <span>179K • 8 Months Ago</span>
                      </div>
                    </div>
         
                  </div>
            <!-- a video Ends -->
             <!-- a video starts -->
             <div class="video">
                <div class="thumbnail">
                   <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="" />
                 </div>
         
                   <div class="details">
                      <div class="author">
                         <img src="https://yt3.ggpht.com/bpzY-S4DYlbTeOpY5hIA7qz_hcbMkgvLAugtwKBGTTImNnWAGudX0y53bo_fJZ0auypxrWkUiw=s88-c-k-c0x00ffffff-no-rj" alt="" />
                      </div>
                      <div class="title">
                         <h3>
                             Introverts & Content Creation | Sumudu Siriwardana
                          </h3>
                          <a href="">
                                 Francesco Ciulla
                           </a>
                           <span> 2M Views • 3 Months Ago </span>
                      </div>
                    </div>
         
                  </div>
            <!-- a video Ends -->
             <!-- a video starts -->
             <div class="video">
                <div class="thumbnail">
                   <img src="https://img.youtube.com/vi/3PHXvlpOkf4/maxresdefault.jpg" alt="" />
                 </div>
         
                   <div class="details">
                      <div class="author">
                         <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                      </div>
                      <div class="title">
                        <h3>Build 15 JavaScript Projects - Vanilla JavaScript Course</h3>
                        <a href=""> freeCodeCamp.org </a>
                        <span>470K Views • 8 Months Ago</span>
                      </div>
                    </div>
         
                  </div>
            <!-- a video Ends -->
             <!-- a video starts -->
             <div class="video">
                <div class="thumbnail">
                   <img src="https://img.youtube.com/vi/CVClHLwv-4I/maxresdefault.jpg" alt="" />
                 </div>
         
                   <div class="details">
                      <div class="author">
                         <img src="https://yt3.ggpht.com/ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=s48-c-k-c0x00ffffff-no-rj" alt="" />
                      </div>
                      <div class="title">
                        <h3>Build Real Time Face Detection With JavaScript</h3>
                        <a href=""> Web Dev Simplified </a>
                        <span>875K Views • 1 Year Ago</span>
                      </div>
                    </div>
         
                  </div>
            <!-- a video Ends -->
            <!-- a video starts -->
            <div class="video">
               <div class="thumbnail">
                  <img src="https://img.youtube.com/vi/3PHXvlpOkf4/maxresdefault.jpg" alt="" />
                </div>
        
                  <div class="details">
                     <div class="author">
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                     </div>
                     <div class="title">
                       <h3>Build 15 JavaScript Projects - Vanilla JavaScript Course</h3>
                       <a href=""> freeCodeCamp.org </a>
                       <span>470K Views • 8 Months Ago</span>
                     </div>
                   </div>
        
                 </div>
           <!-- a video Ends -->
            <!-- a video starts -->
            <div class="video">
               <div class="thumbnail">
                  <img src="https://img.youtube.com/vi/CVClHLwv-4I/maxresdefault.jpg" alt="" />
                </div>
        
                  <div class="details">
                     <div class="author">
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=s48-c-k-c0x00ffffff-no-rj" alt="" />
                     </div>
                     <div class="title">
                       <h3>Build Real Time Face Detection With JavaScript</h3>
                       <a href=""> Web Dev Simplified </a>
                       <span>875K Views • 1 Year Ago</span>
                     </div>
                   </div>
        
                 </div>
           <!-- a video Ends -->
           <!-- a video starts -->
           <div class="video">
            <div class="thumbnail">
               <img src="https://img.youtube.com/vi/ulprqHHWlng/maxresdefault.jpg" alt="" />
             </div>
     
               <div class="details">
                  <div class="author">
                     <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                  </div>
                  <div class="title">
                     <h3>AWS Basics for Beginners - Full Course</h3>
                     <a href=""> freeCodeCamp.org </a>
                     <span>36K Views • 1 Day Ago</span>
                  </div>
                </div>
     
              </div>
        <!-- a video Ends -->
        <!-- a video starts -->
        <div class="video">
         <div class="thumbnail">
            <img src="https://img.youtube.com/vi/3PHXvlpOkf4/maxresdefault.jpg" alt="" />
          </div>
  
            <div class="details">
               <div class="author">
                  <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
               </div>
               <div class="title">
                 <h3>Build 15 JavaScript Projects - Vanilla JavaScript Course</h3>
                 <a href=""> freeCodeCamp.org </a>
                 <span>470K Views • 8 Months Ago</span>
               </div>
             </div>
  
           </div>
     <!-- a video Ends -->
          </div>
      </main>
  <!-- Main Body Ends -->
 
</body>
</html>